
<p id="notice"><%= notice %></p>
<h1>Task Lists</h1>

<% @task_lists.each do |task_list| %>
<div class="index_row clearfix">
  <h2 ><%= link_to task_list.title, task_list %></h2>
          <span ><%= link_to 'Show', task_list %></span>
       <span ><%= link_to 'Edit', edit_task_list_path(task_list) %></span>
        <span ><%= link_to 'Destroy', task_list, method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>
<% end %>
<div class="links">
  <%= link_to "New Todo List", new_task_list_path %>
</div>





