<div class='cd' > 
<p id="notice"><%= notice %></p>

<p>
  <h2>TASK:
  <%= @task_list.title %> </h2>
</p>


<div id='task_items_wrapper'>
 
 <%= render @task_list.task_items %>
 </div>

<hr>

<h4> Add a new To Do here! </h4>
<div class='form-group'>
    <%= render "task_items/form" %>
    </div>
</div>


<%= link_to 'Back', task_lists_path %>

</div>
